.drawer-overlay {
  z-index: 50;
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(4px);
}
.drawer-content {
  z-index: 50;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-background);
}
.drawer-content:focus {
  outline: none;
}
