:root {
  --max-width-content: 1200px;
  --max-width-footer: 1440px;

  --color-text: #111111;
  --color-muted: #707072;
  --color-background: #fff;
  --color-footer: #111111;
  --color-header: #fff;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;

  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;
  --leading-3: 0.75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  background: rgba(var(--color-header));
  padding: 0 38px;
}

/* Note-- you do not have to match Nike's custom footer font. Just use Helvetica Neue / Helvetica */
footer {
  background: rgba(var(--color-footer));
}

body {
  color: rgba(var(--color-text));
  background: rgba(var(--color-background));
}

a {
  color: inherit;
  text-decoration: none;
}

/* Example Utilities */

.flex {
  display: flex;
}

@media (width < 960px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (width >= 960px) {
  .hidden-lg {
    display: none !important;
  }
}
